{
    "swagger": "2.0",
    "info": {
        "contact": {
            "name": "DocuSign Developer Center",
            "email": "devcenter@docusign.com",
            "url": "https://developers.docusign.com/"
        },
        "description": "Maestro authors and executes experiences that allow non-coders the ability to define Simple Business Process without having to write code and to deploy them seamlessly without having to have development expertise",
        "termsOfService": "https://www.docusign.com/company/terms-and-conditions/web",
        "title": "Maestro API",
        "version": "1.0.0"
    },
    "host": "www.docusign.net",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "aow-auth/v1.0/accounts/{accountId}/workflows/trigger": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Account ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "accountId",
                        "required": true,
                        "type": "string",
                        "example": "00000000-0000-0000-0000-000000000000"
                    },
                    {
                        "description": "Managed Token Id registered with DS Account Server",
                        "format": "uuid",
                        "in": "query",
                        "name": "mtid",
                        "type": "string",
                        "example": "00000000-0000-0000-0000-000000000000"
                    },
                    {
                        "description": "Managed Token Secret registered with DS Account Server",
                        "format": "uuid",
                        "in": "query",
                        "name": "mtsec",
                        "type": "string",
                        "example": "00000000-0000-0000-0000-000000000000"
                    },
                    {
                        "description": "JSON payload that will be passed to the triggered workflow",
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TriggerPayload"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Returns a workflow instance trigger URL that can be used to trigger a new instance or return to an instance in progress",
                        "schema": {
                            "$ref": "#/definitions/TriggerWorkflowViaPostResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request received",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Authorization Denied",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Resource not found when workflow definition id or workflow instance id doesn't exist",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DSAuth": [
                            "aow_manage",
                            "signature"
                        ]
                    },
                    {
                        "DSBearerAuth": []
                    }
                ],
                "tags": [
                    "temp_resc"
                ],
                "description": "Creates a new workflow instance after authenticating with DS Account Server",
                "operationId": "triggerWorkflowViaPost",
                "summary": "Creates a new workflow instance after authenticating with DS Account Server",
                "x-ds-methodname": "triggerWorkflow",
                "x-ds-method": "triggerWorkflow",
                "x-ds-service": "Workflow Trigger"
            }
        },
        "aow-manage/v1.0/management/accounts/{accountId}/instances/{instanceId}/cancel": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Account ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "accountId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "DS Workflow Instance Id (dacId)",
                        "format": "uuid",
                        "in": "path",
                        "name": "instanceId",
                        "required": true,
                        "type": "string",
                        "example": "00000000-0000-0000-0000-000000000000"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Return Success",
                        "schema": {
                            "$ref": "#/definitions/CancelResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "The requested resource was not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DSAuth": [
                            "aow_manage",
                            "signature"
                        ]
                    },
                    {
                        "DSBearerAuth": []
                    }
                ],
                "tags": [
                    "temp_resc"
                ],
                "description": "Cancels a running workflow instance.",
                "operationId": "cancelWorkflowInstance",
                "summary": "Cancels a running workflow instance.",
                "x-ds-methodname": "cancelWorkflowInstance",
                "x-ds-method": "cancelWorkflowInstance",
                "x-ds-service": "Workflow Instance Management"
            }
        },
        "aow-manage/v1.0/management/accounts/{accountId}/instances/{instanceId}/history": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Account ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "accountId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "DS Workflow Instance Id (dacId)",
                        "format": "uuid",
                        "in": "path",
                        "name": "instanceId",
                        "required": true,
                        "type": "string",
                        "example": "00000000-0000-0000-0000-000000000000"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "History of workflow steps is returned",
                        "schema": {
                            "description": "Returns Array of Workflow Step History.",
                            "items": {
                                "$ref": "#/definitions/WorkflowStepHistory"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Authentication details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Authorization details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "The requested resource was not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DSAuth": [
                            "aow_manage",
                            "signature"
                        ]
                    },
                    {
                        "DSBearerAuth": []
                    }
                ],
                "tags": [
                    "temp_resc"
                ],
                "description": "Returns a list of step history for a workflow instance",
                "operationId": "getWorkflowHistory",
                "summary": "Get List of Step Histories",
                "x-ds-methodname": "getWorkflowHistory",
                "x-ds-method": "getWorkflowHistory",
                "x-ds-service": "Workflow Instance Management"
            }
        },
        "aow-manage/v1.0/management/accounts/{accountId}/workflowDefinitions": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Account ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "accountId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "workflow definition metadata status",
                        "enum": [
                            "active",
                            "inactive",
                            "publishing",
                            "unpublishing",
                            "archived",
                            "archiving"
                        ],
                        "in": "query",
                        "name": "status",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of workflow definitions' metadata.",
                        "schema": {
                            "$ref": "#/definitions/WorkflowDefinitionList"
                        }
                    },
                    "400": {
                        "description": "Bad Request received",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Authorization details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DSAuth": [
                            "aow_manage",
                            "signature"
                        ]
                    },
                    {
                        "DSBearerAuth": []
                    }
                ],
                "tags": [
                    "temp_resc"
                ],
                "description": "Returns a list of workflow definitions' metadata.",
                "operationId": "getWorkflowDefinitions",
                "summary": "Get Workflow Definitions metadata",
                "x-ds-methodname": "getWorkflowDefinitions",
                "x-ds-method": "getWorkflowDefinitions",
                "x-ds-service": "Workflow Management"
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Account ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "accountId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "Request Body to create a new workflow definition.",
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateOrUpdateWorkflowDefinitionRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Return Success",
                        "schema": {
                            "$ref": "#/definitions/NewOrUpdatedWorkflowDefinitionResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "The requested resource was not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DSAuth": [
                            "aow_manage",
                            "signature"
                        ]
                    },
                    {
                        "DSBearerAuth": []
                    }
                ],
                "tags": [
                    "temp_resc"
                ],
                "description": "Creates a new workflow definition.",
                "operationId": "createNewWorkflowDefinition",
                "summary": "Creates a new workflow definition.",
                "x-ds-methodname": "createWorkflowDefinition",
                "x-ds-method": "createWorkflowDefinition",
                "x-ds-service": "Workflow Management"
            }
        },
        "aow-manage/v1.0/management/accounts/{accountId}/workflowDefinitions/{workflowDefinitionId}": {
            "delete": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Account ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "accountId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "Workflow Definition ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "workflowDefinitionId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns Delete Successful.",
                        "schema": {
                            "$ref": "#/definitions/WorkflowDeleteResponse"
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DSAuth": [
                            "aow_manage",
                            "signature"
                        ]
                    },
                    {
                        "DSBearerAuth": []
                    }
                ],
                "tags": [
                    "temp_resc"
                ],
                "description": "Deletes a workflow definition.",
                "operationId": "deleteWorkflowDefinition",
                "summary": "Deletes a workflow definition.",
                "x-ds-methodname": "deleteWorkflowDefinition",
                "x-ds-method": "deleteWorkflowDefinition",
                "x-ds-service": "Workflow Management"
            },
            "get": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Account ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "accountId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "Workflow Definition ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "workflowDefinitionId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "deployed workflow definition metadata object id",
                        "format": "string",
                        "in": "query",
                        "name": "lastDeployedId",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a workflow definition.",
                        "schema": {
                            "$ref": "#/definitions/WorkflowDefinitionWithId"
                        }
                    },
                    "400": {
                        "description": "Bad Request received",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Authorization details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DSAuth": [
                            "aow_manage",
                            "signature"
                        ]
                    },
                    {
                        "DSBearerAuth": []
                    }
                ],
                "tags": [
                    "temp_resc"
                ],
                "description": "Returns a workflow definition.",
                "operationId": "getWorkflowDefinition",
                "summary": "Get Workflow Definition",
                "x-ds-methodname": "getWorkflowDefinition",
                "x-ds-method": "getWorkflowDefinition",
                "x-ds-service": "Workflow Management"
            },
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Account ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "accountId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "Workflow Definition ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "workflowDefinitionId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "Request Body to update a workflow definition.",
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateOrUpdateWorkflowDefinitionRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Return Success",
                        "schema": {
                            "$ref": "#/definitions/NewOrUpdatedWorkflowDefinitionResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request, malformed input",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "The requested resource was not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DSAuth": [
                            "aow_manage",
                            "signature"
                        ]
                    },
                    {
                        "DSBearerAuth": []
                    }
                ],
                "tags": [
                    "temp_resc"
                ],
                "description": "Updates a workflow definition.",
                "operationId": "updateWorkflowDefinition",
                "summary": "Updates a workflow definition.",
                "x-ds-methodname": "updateWorkflowDefinition",
                "x-ds-method": "updateWorkflowDefinition",
                "x-ds-service": "Workflow Management"
            }
        },
        "aow-manage/v1.0/management/accounts/{accountId}/workflowDefinitions/{workflowDefinitionId}/configInstances": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Account ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "accountId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "Workflow Definition ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "workflowDefinitionId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of configuration instances for a workflow definition",
                        "schema": {
                            "$ref": "#/definitions/GetConfigurationInstancesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request received",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Authorization details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DSAuth": [
                            "aow_manage",
                            "signature"
                        ]
                    },
                    {
                        "DSBearerAuth": []
                    }
                ],
                "tags": [
                    "temp_resc"
                ],
                "description": "Returns a list of configuration instances for a workflow definition",
                "operationId": "getConfigInstances",
                "summary": "Gets configuration instances",
                "x-ds-methodname": "getWorkflowDefinitionConfigInstances",
                "x-ds-method": "getWorkflowDefinitionConfigInstances",
                "x-ds-service": "Workflow Management"
            }
        },
        "aow-manage/v1.0/management/accounts/{accountId}/workflowDefinitions/{workflowDefinitionId}/instances": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Account ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "accountId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "Workflow Definition ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "workflowDefinitionId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of workflow instances for a workflow definition in the specified account.",
                        "schema": {
                            "description": "A list of workflow instances (0 or more).",
                            "items": {
                                "$ref": "#/definitions/WorkflowInstance"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Authentication details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Authorization details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "The requested resource was not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DSAuth": [
                            "aow_manage",
                            "signature"
                        ]
                    },
                    {
                        "DSBearerAuth": []
                    }
                ],
                "tags": [
                    "temp_resc"
                ],
                "description": "Returns the list of instances for a deployed workflow definition.",
                "operationId": "getWorkflowInstances",
                "summary": "Get List of Workflow Instances",
                "x-ds-methodname": "getWorkflowInstances",
                "x-ds-method": "getWorkflowInstances",
                "x-ds-service": "Workflow Instance Management"
            }
        },
        "aow-manage/v1.0/management/accounts/{accountId}/workflowDefinitions/{workflowDefinitionId}/instances/{instanceId}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Account ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "accountId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "Workflow Definition ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "workflowDefinitionId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "DS Workflow Instance Id (dacId)",
                        "format": "uuid",
                        "in": "path",
                        "name": "instanceId",
                        "required": true,
                        "type": "string",
                        "example": "00000000-0000-0000-0000-000000000000"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details for a specific instance for a workflow definition in the specified account.",
                        "schema": {
                            "$ref": "#/definitions/WorkflowInstance"
                        }
                    },
                    "401": {
                        "description": "Authentication details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Authorization details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "The requested resource was not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DSAuth": [
                            "aow_manage",
                            "signature"
                        ]
                    },
                    {
                        "DSBearerAuth": []
                    }
                ],
                "tags": [
                    "temp_resc"
                ],
                "description": "Returns the details for a specific instance for a deployed workflow definition.",
                "operationId": "getWorkflowInstance",
                "summary": "Get Workflow Instance Details",
                "x-ds-methodname": "getWorkflowInstance",
                "x-ds-method": "getWorkflowInstance",
                "x-ds-service": "Workflow Instance Management"
            }
        },
        "aow-manage/v1.0/management/accounts/{accountId}/workflowDefinitions/{workflowDefinitionId}/publish": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Account ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "accountId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "Workflow Definition ID",
                        "format": "uuid",
                        "in": "path",
                        "name": "workflowDefinitionId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "Request Body to publish or unpublish a workflow definition.",
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeployRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Return Success",
                        "schema": {
                            "$ref": "#/definitions/DeployResponse"
                        }
                    },
                    "400": {
                        "description": "Workflow Definition is invalid",
                        "schema": {
                            "$ref": "#/definitions/InvalidWorkflowResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication details are invalid",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "The requested resource was not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "DSAuth": [
                            "aow_manage",
                            "signature"
                        ]
                    },
                    {
                        "DSBearerAuth": []
                    }
                ],
                "tags": [
                    "temp_resc"
                ],
                "description": "Publishes or unpublishes a workflow definition.",
                "operationId": "publishOrUnPublishWorkflowDefinition",
                "summary": "Publishes or unpublishes a workflow definition.",
                "x-ds-methodname": "publishOrUnPublishWorkflowDefinition",
                "x-ds-method": "publishOrUnPublishWorkflowDefinition",
                "x-ds-service": "Workflow Management"
            }
        }
    },
    "definitions": {
        "AccessTokenResponse": {
            "description": "Access Token response details",
            "properties": {
                "access_token": {
                    "description": "JWT access token",
                    "type": "string"
                },
                "expires_in": {
                    "description": "Expires in seconds",
                    "type": "number"
                },
                "token_type": {
                    "$ref": "#/definitions/AccessTokenTokenTypes"
                }
            },
            "type": "object",
            "x-ds-definition-name": "AccessTokenResponse"
        },
        "AccessTokenTokenTypes": {
            "description": "Access Token token Types",
            "enum": [
                "Bearer",
                "Application",
                "Resource"
            ],
            "type": "string",
            "x-ds-definition-name": "AccessTokenTokenTypes"
        },
        "AccountId": {
            "description": "Account Id",
            "example": "00000000-0000-0000-0000-000000000000",
            "format": "uuid",
            "type": "string",
            "x-ds-definition-name": "AccountId"
        },
        "AowUUID": {
            "example": "00000000-0000-0000-0000-000000000000",
            "format": "uuid",
            "type": "string",
            "x-ds-definition-name": "AowUUID"
        },
        "AowUUIDString": {
            "format": "uuid",
            "type": "string",
            "x-ds-definition-name": "AowUUIDString"
        },
        "CancelResponse": {
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            },
            "required": [
                "message"
            ],
            "type": "object",
            "x-ds-definition-name": "CancelResponse"
        },
        "CreateOrUpdateWorkflowDefinitionRequestBody": {
            "description": "A request body that used for create or update workflow definition",
            "properties": {
                "workflowDefinition": {
                    "$ref": "#/definitions/WorkflowDefinition"
                }
            },
            "type": "object",
            "x-ds-definition-name": "CreateOrUpdateWorkflowDefinitionRequestBody"
        },
        "DSDoUntilStep": {
            "properties": {
                "doSteps": {
                    "items": {
                        "type": "object"
                    },
                    "type": "array",
                    "description": "A list of #/definitions/DSWorkflowStep. Each element is: A DS Workflow Step. This object should be any of the following object models: [#/definitions/DSServiceStep, #/definitions/DSTransformationStep, #/definitions/DSDocGenStep, #/definitions/DSSignStep]"
                },
                "expression": {
                    "$ref": "#/definitions/DSWorkflowComparisonExpression"
                },
                "id": {
                    "$ref": "#/definitions/AowUUIDString"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowStepTypes.DoUntil"
                }
            },
            "required": [
                "name",
                "id",
                "type",
                "doSteps",
                "expression"
            ],
            "type": "object",
            "x-ds-definition-name": "DSDoUntilStep"
        },
        "DSDocGenStep": {
            "properties": {
                "config": {
                    "$ref": "#/definitions/RecordToNever"
                },
                "id": {
                    "$ref": "#/definitions/AowUUIDString"
                },
                "input": {
                    "properties": {
                        "dataJson": {
                            "$ref": "#/definitions/RecordStringOrVariableOrTransformation"
                        },
                        "outputFileName": {
                            "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                            "type": "object"
                        },
                        "outputFileNameIsUnique": {
                            "type": "boolean"
                        },
                        "outputFormat": {
                            "$ref": "#/definitions/DSWorkflowDocGenDocOutputFormat"
                        },
                        "templateId": {
                            "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                            "type": "object"
                        }
                    },
                    "required": [
                        "outputFormat",
                        "outputFileNameIsUnique",
                        "outputFileName",
                        "templateId",
                        "dataJson"
                    ],
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "output": {
                    "additionalProperties": {
                        "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                        "type": "object"
                    },
                    "description": "A Record of strings to Strings, Variables, or Transformation Expressions",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowStepTypes.DSDocGen"
                }
            },
            "required": [
                "name",
                "id",
                "type",
                "config",
                "input",
                "output"
            ],
            "type": "object",
            "x-ds-definition-name": "DSDocGenStep"
        },
        "DSIdvStep": {
            "properties": {
                "config": {
                    "$ref": "#/definitions/RecordToNever"
                },
                "id": {
                    "$ref": "#/definitions/AowUUIDString"
                },
                "input": {
                    "properties": {
                        "backgroundColorBranding": {
                            "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                            "type": "object"
                        },
                        "expectedFullName": {
                            "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                            "type": "object"
                        },
                        "retryLimit": {
                            "description": "This object should be any of the following object models or types: [number, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                            "type": "object"
                        },
                        "textColorBranding": {
                            "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                            "type": "object"
                        }
                    },
                    "required": [
                        "textColorBranding",
                        "backgroundColorBranding",
                        "expectedFullName",
                        "retryLimit"
                    ],
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "output": {
                    "additionalProperties": {
                        "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                        "type": "object"
                    },
                    "description": "A Record of strings to Strings, Variables, or Transformation Expressions",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowStepTypes.DSIdv"
                }
            },
            "required": [
                "name",
                "id",
                "type",
                "config",
                "input",
                "output"
            ],
            "type": "object",
            "x-ds-definition-name": "DSIdvStep"
        },
        "DSIfElseStep": {
            "properties": {
                "elseSteps": {
                    "items": {
                        "type": "object"
                    },
                    "type": "array",
                    "description": "A list of #/definitions/DSWorkflowStep. Each element is: A DS Workflow Step. This object should be any of the following object models: [#/definitions/DSServiceStep, #/definitions/DSTransformationStep, #/definitions/DSDocGenStep, #/definitions/DSSignStep]"
                },
                "expression": {
                    "$ref": "#/definitions/DSWorkflowBooleanExpression"
                },
                "id": {
                    "$ref": "#/definitions/AowUUIDString"
                },
                "ifSteps": {
                    "items": {
                        "type": "object"
                    },
                    "type": "array",
                    "description": "A list of #/definitions/DSWorkflowStep. Each element is: A DS Workflow Step. This object should be any of the following object models: [#/definitions/DSServiceStep, #/definitions/DSTransformationStep, #/definitions/DSDocGenStep, #/definitions/DSSignStep]"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowStepTypes.DSIfElse"
                }
            },
            "required": [
                "name",
                "id",
                "type",
                "ifSteps",
                "elseSteps",
                "expression"
            ],
            "type": "object",
            "x-ds-definition-name": "DSIfElseStep"
        },
        "DSLoopStep": {
            "properties": {
                "expression": {
                    "$ref": "#/definitions/DSWorkflowComparisonExpression"
                },
                "id": {
                    "$ref": "#/definitions/AowUUIDString"
                },
                "loopSteps": {
                    "items": {
                        "type": "object"
                    },
                    "type": "array",
                    "description": "A list of #/definitions/DSWorkflowStep. Each element is: A DS Workflow Step. This object should be any of the following object models: [#/definitions/DSServiceStep, #/definitions/DSTransformationStep, #/definitions/DSDocGenStep, #/definitions/DSSignStep]"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowStepTypes.Loop"
                }
            },
            "required": [
                "name",
                "id",
                "type",
                "loopSteps",
                "expression"
            ],
            "type": "object",
            "x-ds-definition-name": "DSLoopStep"
        },
        "DSParallelStep": {
            "properties": {
                "expression": {
                    "$ref": "#/definitions/DSWorkflowParallelExpression"
                },
                "id": {
                    "$ref": "#/definitions/AowUUIDString"
                },
                "lanes": {
                    "additionalProperties": {
                        "$ref": "#/definitions/DSWorkflowLane"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowStepTypes.Parallel"
                }
            },
            "required": [
                "name",
                "id",
                "type",
                "lanes",
                "expression"
            ],
            "type": "object",
            "x-ds-definition-name": "DSParallelStep"
        },
        "DSServiceStep": {
            "description": "A DS Workflow Service Step. This object should be any of the following object models: [#/definitions/DSWebFormsStep, #/definitions/DSIdvStep, #/definitions/DSDocGenStep, #/definitions/DSSignStep]",
            "x-ds-definition-name": "DSServiceStep"
        },
        "DSSignStep": {
            "properties": {
                "config": {
                    "$ref": "#/definitions/RecordToNever"
                },
                "id": {
                    "$ref": "#/definitions/AowUUIDString"
                },
                "input": {
                    "properties": {
                        "documents": {
                            "items": {
                                "type": "object"
                            },
                            "type": "array",
                            "description": "A list of #/definitions/ESignDocuments. Each element is: ESignDocument Object. This object should be any of the following object models: [#/definitions/ESignDocumentFromPreviousStep, #/definitions/ESignDocumentFromESignTemplate]"
                        },
                        "emailBlurb": {
                            "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                            "type": "object"
                        },
                        "emailSubject": {
                            "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                            "type": "object"
                        },
                        "isEmbeddedSign": {
                            "type": "boolean"
                        },
                        "signers": {
                            "items": {
                                "$ref": "#/definitions/ESignSigner"
                            },
                            "type": "array"
                        }
                    },
                    "required": [
                        "signers",
                        "documents",
                        "isEmbeddedSign"
                    ],
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "output": {
                    "additionalProperties": {
                        "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                        "type": "object"
                    },
                    "description": "A Record of strings to Strings, Variables, or Transformation Expressions",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowStepTypes.DSSign"
                }
            },
            "required": [
                "name",
                "id",
                "type",
                "config",
                "input",
                "output"
            ],
            "type": "object",
            "x-ds-definition-name": "DSSignStep"
        },
        "DSTransformationStep": {
            "properties": {
                "config": {
                    "$ref": "#/definitions/RecordToNever"
                },
                "expression": {
                    "description": "Reference of #/definitions/DSWorkflowTransformationExpression. Transformation Expression object. This object should be any of the following object models: [#/definitions/DSWorkflowReplaceExpression, #/definitions/DSWorkflowToLowerExpression, #/definitions/DSWorkflowToUpperExpression, #/components/schemas/DSWorkflowLastIndexOfExpression, #/components/schemas/DSWorkflowIndexOfExpression, #/components/schemas/DSWorkflowSubstringExpression, #/components/schemas/DSWorkflowConcatExpression]",
                    "type": "object"
                },
                "id": {
                    "$ref": "#/definitions/AowUUIDString"
                },
                "input": {
                    "additionalProperties": {
                        "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                        "type": "object"
                    },
                    "description": "A Record of strings to Strings, Variables, or Transformation Expressions",
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "output": {
                    "additionalProperties": {
                        "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                        "type": "object"
                    },
                    "description": "A Record of strings to Strings, Variables, or Transformation Expressions",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowStepTypes.DSTransformation"
                }
            },
            "required": [
                "name",
                "id",
                "type",
                "config",
                "input",
                "output",
                "expression"
            ],
            "type": "object",
            "x-ds-definition-name": "DSTransformationStep"
        },
        "DSWebFormsStep": {
            "description": "A DS Workflow WebForms Step",
            "properties": {
                "config": {
                    "properties": {
                        "pageUrl": {
                            "format": "uri",
                            "type": "string"
                        }
                    },
                    "required": [
                        "pageUrl"
                    ]
                },
                "id": {
                    "$ref": "#/definitions/AowUUIDString"
                },
                "input": {
                    "additionalProperties": {
                        "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                        "type": "object"
                    },
                    "description": "A Record of strings to Strings, Variables, or Transformation Expressions",
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "output": {
                    "additionalProperties": {
                        "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                        "type": "object"
                    },
                    "description": "A Record of strings to Strings, Variables, or Transformation Expressions",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowStepTypes.DSWebForms"
                }
            },
            "required": [
                "name",
                "id",
                "type",
                "config",
                "input",
                "output"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWebFormsStep"
        },
        "DSWorkflowBooleanExpression": {
            "properties": {
                "expressions": {
                    "items": {
                        "type": "object"
                    },
                    "type": "array",
                    "description": "A list of objects. Each object should contain any of the following object models: [#/definitions/DSWorkflowBooleanExpression, #/definitions/DSWorkflowComparisonExpression]"
                },
                "logicalOperator": {
                    "$ref": "#/definitions/DSWorkflowLogicalOperatorTypes"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowExpressionTypes.BooleanExpression"
                }
            },
            "required": [
                "type",
                "logicalOperator",
                "expressions"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowBooleanExpression"
        },
        "DSWorkflowComparisonExpression": {
            "properties": {
                "comparisonOperator": {
                    "$ref": "#/definitions/DSWorkflowComparisonOperatorTypes"
                },
                "leftOperand": {
                    "description": "This model should be any of the following object models or types: [number, boolean, #/definitions/StringOrVariableOrTransformation]",
                    "type": "object"
                },
                "rightOperand": {
                    "description": "This model should be any of the following object models or types: [number, boolean, #/definitions/StringOrVariableOrTransformation]",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowExpressionTypes.ComparisonExpression"
                }
            },
            "required": [
                "type",
                "comparisonOperator",
                "leftOperand",
                "rightOperand"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowComparisonExpression"
        },
        "DSWorkflowComparisonOperatorTypes": {
            "enum": [
                "Contains",
                "NotContains",
                "Equal",
                "NotEqual",
                "GreaterThan",
                "GreaterThanOrEqual",
                "LessThan",
                "LessThanOrEqual",
                "StartsWith",
                "NotStartsWith",
                "EndsWith",
                "NotEndsWith"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowComparisonOperatorTypes"
        },
        "DSWorkflowConcatExpression": {
            "properties": {
                "inputs": {
                    "items": {
                        "type": "object"
                    },
                    "type": "array",
                    "description": "A list of #/definitions/StringOrVariableOrTransformation. Each element is: Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowTransformationExpressionTypes.ConcatExpression"
                }
            },
            "required": [
                "type",
                "text",
                "text2"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowConcatExpression"
        },
        "DSWorkflowDocGenDocOutputFormat": {
            "enum": [
                "pdf",
                "docx"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowDocGenDocOutputFormat"
        },
        "DSWorkflowExpressionTypes.BooleanExpression": {
            "enum": [
                "BooleanExpression"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowExpressionTypes.BooleanExpression"
        },
        "DSWorkflowExpressionTypes.ComparisonExpression": {
            "enum": [
                "ComparisonExpression"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowExpressionTypes.ComparisonExpression"
        },
        "DSWorkflowExpressionTypes.ParallelExpression": {
            "enum": [
                "ParallelExpression"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowExpressionTypes.ParallelExpression"
        },
        "DSWorkflowIndexOfExpression": {
            "properties": {
                "searchText": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "text": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowTransformationExpressionTypes.IndexOfExpression"
                }
            },
            "required": [
                "type",
                "text",
                "searchText"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowIndexOfExpression"
        },
        "DSWorkflowLane": {
            "properties": {
                "laneId": {
                    "$ref": "#/definitions/AowUUIDString"
                },
                "laneSteps": {
                    "items": {
                        "type": "object"
                    },
                    "type": "array",
                    "description": "A list of #/definitions/DSWorkflowStep. Each element is: A DS Workflow Step. This object should be any of the following object models: [#/definitions/DSServiceStep, #/definitions/DSTransformationStep, #/definitions/DSDocGenStep, #/definitions/DSSignStep]"
                }
            },
            "required": [
                "laneId",
                "laneSteps"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowLane"
        },
        "DSWorkflowLanesRecord": {
            "additionalProperties": {
                "$ref": "#/definitions/DSWorkflowLane"
            },
            "type": "object",
            "x-ds-definition-name": "DSWorkflowLanesRecord"
        },
        "DSWorkflowLastIndexOfExpression": {
            "properties": {
                "searchText": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "text": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowTransformationExpressionTypes.LastIndexOfExpression"
                }
            },
            "required": [
                "type",
                "text",
                "searchText"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowLastIndexOfExpression"
        },
        "DSWorkflowLogicalOperatorTypes": {
            "enum": [
                "And",
                "Or"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowLogicalOperatorTypes"
        },
        "DSWorkflowParallelExpression": {
            "properties": {
                "parallelCompletionSettings": {
                    "additionalProperties": {
                        "type": "boolean"
                    },
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowExpressionTypes.ParallelExpression"
                }
            },
            "required": [
                "type",
                "parallelCompletionSettings"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowParallelExpression"
        },
        "DSWorkflowParticipantRecord": {
            "additionalProperties": {
                "$ref": "#/definitions/Participant"
            },
            "description": "A DS Workflow participant record",
            "type": "object",
            "x-ds-definition-name": "DSWorkflowParticipantRecord"
        },
        "DSWorkflowReplaceExpression": {
            "properties": {
                "newText": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "oldText": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "text": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowTransformationExpressionTypes.ReplaceExpression"
                }
            },
            "required": [
                "type",
                "text",
                "oldText",
                "newText"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowReplaceExpression"
        },
        "DSWorkflowStep": {
            "description": "A DS Workflow Step. This object should be any of the following object models: [#/definitions/DSServiceStep, #/definitions/DSTransformationStep, #/definitions/DSDocGenStep, #/definitions/DSSignStep]",
            "x-ds-definition-name": "DSWorkflowStep"
        },
        "DSWorkflowStepTypes.DSDocGen": {
            "enum": [
                "DS-DocGen"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowStepTypes.DSDocGen"
        },
        "DSWorkflowStepTypes.DSIdv": {
            "enum": [
                "DS-IDV"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowStepTypes.DSIdv"
        },
        "DSWorkflowStepTypes.DSIfElse": {
            "enum": [
                "DS-IfElse"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowStepTypes.DSIfElse"
        },
        "DSWorkflowStepTypes.DSSign": {
            "enum": [
                "DS-Sign"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowStepTypes.DSSign"
        },
        "DSWorkflowStepTypes.DSTransformation": {
            "enum": [
                "DS-Transformation"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowStepTypes.DSTransformation"
        },
        "DSWorkflowStepTypes.DSWebForms": {
            "enum": [
                "DS-WebForms"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowStepTypes.DSWebForms"
        },
        "DSWorkflowStepTypes.DoUntil": {
            "enum": [
                "DS-DoUntil"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowStepTypes.DoUntil"
        },
        "DSWorkflowStepTypes.Loop": {
            "enum": [
                "DS-Loop"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowStepTypes.Loop"
        },
        "DSWorkflowStepTypes.Parallel": {
            "enum": [
                "DS-Parallel"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowStepTypes.Parallel"
        },
        "DSWorkflowSubstringExpression": {
            "properties": {
                "length": {
                    "description": "Reference of #/definitions/NumberOrVariable. Object stands for a number or a Variable. This object should be any of the following object models or types: [number, #/definitions/DSWorkflowVariable]",
                    "type": "object"
                },
                "startIndex": {
                    "description": "Reference of #/definitions/NumberOrVariable. Object stands for a number or a Variable. This object should be any of the following object models or types: [number, #/definitions/DSWorkflowVariable]",
                    "type": "object"
                },
                "text": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowTransformationExpressionTypes.SubstringExpression"
                }
            },
            "required": [
                "type",
                "text",
                "startIndex"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowSubstringExpression"
        },
        "DSWorkflowToLowerExpression": {
            "properties": {
                "text": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowTransformationExpressionTypes.ToLowerExpression"
                }
            },
            "required": [
                "type",
                "text"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowToLowerExpression"
        },
        "DSWorkflowToUpperExpression": {
            "properties": {
                "text": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowTransformationExpressionTypes.ToUpperExpression"
                }
            },
            "required": [
                "type",
                "text"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowToUpperExpression"
        },
        "DSWorkflowTransformationExpression": {
            "description": "Transformation Expression object. This object should be any of the following object models: [#/definitions/DSWorkflowReplaceExpression, #/definitions/DSWorkflowToLowerExpression, #/definitions/DSWorkflowToUpperExpression, #/components/schemas/DSWorkflowLastIndexOfExpression, #/components/schemas/DSWorkflowIndexOfExpression, #/components/schemas/DSWorkflowSubstringExpression, #/components/schemas/DSWorkflowConcatExpression]",
            "x-ds-definition-name": "DSWorkflowTransformationExpression"
        },
        "DSWorkflowTransformationExpressionTypes.ConcatExpression": {
            "enum": [
                "ConcatExpression"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowTransformationExpressionTypes.ConcatExpression"
        },
        "DSWorkflowTransformationExpressionTypes.IndexOfExpression": {
            "enum": [
                "IndexOfExpression"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowTransformationExpressionTypes.IndexOfExpression"
        },
        "DSWorkflowTransformationExpressionTypes.LastIndexOfExpression": {
            "enum": [
                "LastIndexOfExpression"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowTransformationExpressionTypes.LastIndexOfExpression"
        },
        "DSWorkflowTransformationExpressionTypes.ReplaceExpression": {
            "enum": [
                "ReplaceExpression"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowTransformationExpressionTypes.ReplaceExpression"
        },
        "DSWorkflowTransformationExpressionTypes.SubstringExpression": {
            "enum": [
                "SubstringExpression"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowTransformationExpressionTypes.SubstringExpression"
        },
        "DSWorkflowTransformationExpressionTypes.ToLowerExpression": {
            "enum": [
                "ToLowerExpression"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowTransformationExpressionTypes.ToLowerExpression"
        },
        "DSWorkflowTransformationExpressionTypes.ToUpperExpression": {
            "enum": [
                "ToUpperExpression"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowTransformationExpressionTypes.ToUpperExpression"
        },
        "DSWorkflowTrigger": {
            "description": "A DS workflow trigger.",
            "properties": {
                "eventType": {
                    "$ref": "#/definitions/EventTypes"
                },
                "httpType": {
                    "$ref": "#/definitions/HttpTypes"
                },
                "id": {
                    "$ref": "#/definitions/AowUUIDString"
                },
                "input": {
                    "additionalProperties": {
                        "description": "Reference of #/definitions/DSWorkflowVariable. DS Workflow Variables",
                        "type": "object"
                    },
                    "description": "A DS Workflow variable record",
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "output": {
                    "additionalProperties": {
                        "description": "Reference of #/definitions/DSWorkflowVariable. DS Workflow Variables",
                        "type": "object"
                    },
                    "description": "A DS Workflow variable record",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/DSWorkflowTriggerTypes"
                }
            },
            "required": [
                "name",
                "id",
                "type",
                "httpType",
                "input",
                "output"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowTrigger"
        },
        "DSWorkflowTriggerTypes": {
            "description": "The DS Workflow Trigger types",
            "enum": [
                "Http",
                "Http-API"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowTriggerTypes"
        },
        "DSWorkflowVariable": {
            "description": "DS Workflow Variables",
            "x-ds-definition-name": "DSWorkflowVariable"
        },
        "DSWorkflowVariableFromParticipant": {
            "description": "DS Workflow Variable from a Participant",
            "properties": {
                "key": {
                    "$ref": "#/definitions/ParticipantKeys"
                },
                "participantId": {
                    "$ref": "#/definitions/AowUUIDString"
                },
                "source": {
                    "$ref": "#/definitions/DSWorkflowVariableSourceTypes.Participant"
                }
            },
            "required": [
                "source",
                "key",
                "participantId"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowVariableFromParticipant"
        },
        "DSWorkflowVariableFromStep": {
            "description": "DS Workflow Variable from a Step",
            "properties": {
                "key": {
                    "type": "string"
                },
                "propertyName": {
                    "type": "string"
                },
                "source": {
                    "$ref": "#/definitions/DSWorkflowVariableSourceTypes.Step"
                },
                "stepId": {
                    "$ref": "#/definitions/AowUUIDString"
                }
            },
            "required": [
                "source",
                "key",
                "propertyName",
                "stepId"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowVariableFromStep"
        },
        "DSWorkflowVariableFromVariable": {
            "description": "DS Workflow Variable from a Variable",
            "properties": {
                "key": {
                    "type": "string"
                },
                "propertyName": {
                    "type": "string"
                },
                "source": {
                    "$ref": "#/definitions/DSWorkflowVariableSourceTypes.Variable"
                },
                "stepId": {
                    "$ref": "#/definitions/AowUUIDString"
                }
            },
            "required": [
                "source",
                "key",
                "propertyName",
                "stepId"
            ],
            "type": "object",
            "x-ds-definition-name": "DSWorkflowVariableFromVariable"
        },
        "DSWorkflowVariableRecord": {
            "additionalProperties": {
                "description": "Reference of #/definitions/DSWorkflowVariable. DS Workflow Variables",
                "type": "object"
            },
            "description": "A DS Workflow variable record",
            "type": "object",
            "x-ds-definition-name": "DSWorkflowVariableRecord"
        },
        "DSWorkflowVariableSourceTypes.Participant": {
            "enum": [
                "participant"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowVariableSourceTypes.Participant"
        },
        "DSWorkflowVariableSourceTypes.Step": {
            "enum": [
                "step"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowVariableSourceTypes.Step"
        },
        "DSWorkflowVariableSourceTypes.Variable": {
            "enum": [
                "variable"
            ],
            "type": "string",
            "x-ds-definition-name": "DSWorkflowVariableSourceTypes.Variable"
        },
        "DeployRequest": {
            "properties": {
                "deploymentStatus": {
                    "$ref": "#/definitions/DeployStatus"
                }
            },
            "required": [
                "deploymentStatus"
            ],
            "type": "object",
            "x-ds-definition-name": "DeployRequest"
        },
        "DeployResponse": {
            "properties": {
                "message": {
                    "type": "string"
                },
                "method": {
                    "type": "string"
                },
                "pollUrl": {
                    "format": "uri",
                    "type": "string"
                },
                "receivedTime": {
                    "format": "date-time",
                    "type": "string"
                }
            },
            "required": [
                "message",
                "pollUrl"
            ],
            "type": "object",
            "x-ds-definition-name": "DeployResponse"
        },
        "DeployStatus": {
            "enum": [
                "Publish",
                "UnPublish",
                "Disable"
            ],
            "type": "string",
            "x-ds-definition-name": "DeployStatus"
        },
        "DeploymentStatus": {
            "description": "The workflow deployment status",
            "enum": [
                "Deployment In Progress",
                "Deployed",
                "Failed",
                "Delete in Progress",
                "Deleted",
                "Not Deployed"
            ],
            "type": "string",
            "x-ds-definition-name": "DeploymentStatus"
        },
        "DsStepId": {
            "description": "DS Step Id <TODO>",
            "format": "uuid",
            "type": "string",
            "x-ds-definition-name": "DsStepId"
        },
        "ESignDocumentFromESignTemplate": {
            "properties": {
                "eSignTemplateId": {
                    "type": "string"
                },
                "fileExtension": {
                    "$ref": "#/definitions/DSWorkflowDocGenDocOutputFormat"
                },
                "name": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/ESignDocumentTypes.FromDSTemplate"
                }
            },
            "required": [
                "type",
                "eSignTemplateId",
                "fileExtension",
                "name"
            ],
            "type": "object",
            "x-ds-definition-name": "ESignDocumentFromESignTemplate"
        },
        "ESignDocumentFromPreviousStep": {
            "properties": {
                "documentFromPreviousStep": {
                    "description": "Reference of #/definitions/DSWorkflowVariable. DS Workflow Variables",
                    "type": "object"
                },
                "fileExtension": {
                    "$ref": "#/definitions/DSWorkflowDocGenDocOutputFormat"
                },
                "name": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "type": {
                    "$ref": "#/definitions/ESignDocumentTypes.FromPreviousStep"
                }
            },
            "required": [
                "type",
                "documentFromPreviousStep",
                "fileExtension",
                "name"
            ],
            "type": "object",
            "x-ds-definition-name": "ESignDocumentFromPreviousStep"
        },
        "ESignDocumentTypes.FromDSTemplate": {
            "enum": [
                "FromDSTemplate"
            ],
            "type": "string",
            "x-ds-definition-name": "ESignDocumentTypes.FromDSTemplate"
        },
        "ESignDocumentTypes.FromPreviousStep": {
            "enum": [
                "FromPreviousStep"
            ],
            "type": "string",
            "x-ds-definition-name": "ESignDocumentTypes.FromPreviousStep"
        },
        "ESignDocuments": {
            "description": "ESignDocument Object. This object should be any of the following object models: [#/definitions/ESignDocumentFromPreviousStep, #/definitions/ESignDocumentFromESignTemplate]",
            "x-ds-definition-name": "ESignDocuments"
        },
        "ESignLocalePolicy": {
            "additionalProperties": {
                "type": "object"
            },
            "type": "object",
            "x-ds-definition-name": "ESignLocalePolicy"
        },
        "ESignSigner": {
            "properties": {
                "email": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "note": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "routingOrder": {
                    "type": "string"
                },
                "tabs": {
                    "$ref": "#/definitions/ESignTabsRecord"
                },
                "userName": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                }
            },
            "required": [
                "userName",
                "email",
                "routingOrder",
                "note",
                "tabs"
            ],
            "type": "object",
            "x-ds-definition-name": "ESignSigner"
        },
        "ESignTabs": {
            "properties": {
                "anchorString": {
                    "type": "string"
                },
                "bold": {
                    "type": "string"
                },
                "documentId": {
                    "type": "string"
                },
                "font": {
                    "type": "string"
                },
                "fontColor": {
                    "type": "string"
                },
                "fontSize": {
                    "type": "string"
                },
                "height": {
                    "type": "string"
                },
                "italic": {
                    "type": "string"
                },
                "localePolicy": {
                    "additionalProperties": {
                        "type": "object"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "optional": {
                    "type": "string"
                },
                "pageNumber": {
                    "type": "string"
                },
                "recipientId": {
                    "type": "string"
                },
                "scaleValue": {
                    "type": "string"
                },
                "stampType": {
                    "type": "string"
                },
                "tabId": {
                    "type": "string"
                },
                "tabLabel": {
                    "type": "string"
                },
                "tabType": {
                    "type": "string"
                },
                "templateLocked": {
                    "type": "string"
                },
                "templateRequired": {
                    "type": "string"
                },
                "tooltip": {
                    "type": "string"
                },
                "underline": {
                    "type": "string"
                },
                "value": {
                    "description": "Reference of #/definitions/StringOrVariableOrTransformation. Object stands for a String or a Variable or a Transformation. This object should be any of the following object models or types: [string, #/definitions/DSWorkflowVariable, #/definitions/DSWorkflowTransformationExpression]",
                    "type": "object"
                },
                "width": {
                    "type": "string"
                },
                "xPosition": {
                    "type": "string"
                },
                "yPosition": {
                    "type": "string"
                }
            },
            "required": [
                "tabId"
            ],
            "type": "object",
            "x-ds-definition-name": "ESignTabs"
        },
        "ESignTabsRecord": {
            "properties": {
                "dateSignedTabs": {
                    "items": {
                        "$ref": "#/definitions/ESignTabs"
                    },
                    "type": "array"
                },
                "emailAddressTabs": {
                    "items": {
                        "$ref": "#/definitions/ESignTabs"
                    },
                    "type": "array"
                },
                "firstNameTabs": {
                    "items": {
                        "$ref": "#/definitions/ESignTabs"
                    },
                    "type": "array"
                },
                "fullNameTabs": {
                    "items": {
                        "$ref": "#/definitions/ESignTabs"
                    },
                    "type": "array"
                },
                "lastNameTabs": {
                    "items": {
                        "$ref": "#/definitions/ESignTabs"
                    },
                    "type": "array"
                },
                "signHereTabs": {
                    "items": {
                        "$ref": "#/definitions/ESignTabs"
                    },
                    "type": "array"
                },
                "textTabs": {
                    "items": {
                        "$ref": "#/definitions/ESignTabs"
                    },
                    "type": "array"
                }
            },
            "type": "object",
            "x-ds-definition-name": "ESignTabsRecord"
        },
        "ErrorCodes": {
            "description": "Internal Error Codes",
            "enum": [
                "ERR_10001",
                "ERR_10002",
                "ERR_10003",
                "ERR_10004",
                "ERR_10005",
                "ERR_10006",
                "ERR_10007",
                "ERR_10008",
                "ERR_10009",
                "ERR_10101",
                "ERR_10201",
                "ERR_10202",
                "ERR_10301",
                "ERR_10302",
                "ERR_10801",
                "ERR_10802",
                "ERR_10999"
            ],
            "type": "string",
            "x-ds-definition-name": "ErrorCodes"
        },
        "ErrorResponse": {
            "description": "Returns error with a status message",
            "properties": {
                "errorCode": {
[...]
